body {
    max-width: 100%;
    margin: 0 auto;
    color: white;
    background: rgb(87, 65, 136);
    /* background: linear-gradient(135deg, #7f6baa 0%, #463174 35%, #22104b 100%); */
 }
 
 
 .page-wrapper {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 20px;
 }
 
 
 #statsRow {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: row;
    margin: 0 20px;
    flex-wrap: nowrap;
 }
 
 
 
 
 /* h1 {
    font-size:
 }
 
 
 h2 {
    font-size: 18px;
 }
 
 
 h3 {
    font-size: 14px;
 }
 
 
 p {
    font-size: 14px;
 } */
 
 
 .horizontal menu {
    background-color: white;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    width: 100%
 } 
 
 
 .button medium-down-expanded {
    background-color: #26C485;
    color: white;
 }
 
 
 .button:active {
    background-color: white;
    color: #22104b;
 }
 
 

 .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
 }
 
 
 .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
 }
 
 
 .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
 }
 
 
 .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
 }
 
 
 .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
 }
 
 
 .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
 }
 
 
 .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
 }
 
 
 .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
 }
 
 
 .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
 }
 
 
 .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
 }
 
 
 .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
 }
 
 
 .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
 }
 
 