/* Author: Dhruv Mehta */
body {
    max-width: 100%;
    margin: 0 auto;
    color: white;
    background: rgb(87, 65, 136);
    /* background: linear-gradient(135deg, #7f6baa 0%, #463174 35%, #22104b 100%); */
}

/* Adding margin on the left side */
.page-wrapper {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 20px;
}
/* Adding margin on the left side */

/* Headings */
#top-heading {
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    padding-top: 12px;
    width: 300px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 14px;
}
/* Headings */

p {
    font-size: 16px;
    width: 300px;
}

/* Navigation */
/* nav {
    background-color: white;
     padding: 10px; 
    border-bottom: 1px solid #ccc;
    width: 100% 
} */

#responsive-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: left;
}

#responsive-menu li {
    display: inline;
}

#responsive-menu a {
    text-decoration: none;
    color: #22104b;
    /* Menu button color */
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    /* border-radius: 5px; */
}

#responsive-menu a:hover {
    background-color: #22104b;
    color: white;
    /* Change to a visible color on hover */
    /
}

#responsive-menu a:hover i {
    background-color: #22104b;
    color: white;
    /* Change to a visible color on hover */
}

#responsive-menu a span {
    margin-left: 5px;
}

#responsive-menu a i {
    color: #22104b;
    /* Icon color */
}

#responsive-menu li:first-child {
    background-color: white;
    color: white;
}

#responsive-menu li:first-child:hover a {
    color: white;
    background-color: white;
}

#appointmentImage {
    object-fit: fill;
    width: fit-content;
    height: 200;
}
/* Navigation */

/* Top Padding */
p {
    padding-top: 8px;
}
/* Top Padding */
