/* Author: Dhruv Mehta */

body {
    max-width: 100%;
    margin: 0 auto;
    color: white;
    background: rgb(87, 65, 136);
    background: linear-gradient(135deg, rgba(87, 65, 136, 1) 0%, rgba(70, 49, 116, 1) 35%, rgba(34, 16, 75, 1) 100%);
}

/* Adding margin on the left side */
.page-wrapper {
    margin: 0 20px;
}
/* Adding margin on the left side */

/* Headings */
#top-heading {
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    padding-top: 12px;
    width: 300px;
}

h2 {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

h3 {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}
/* Headings */

p {
    font-size: 16px;
    width: 300px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

/* Card */
.card {
    border-radius: 8px;
    border-color: #22104b7d;
    background-color: #22104b7d;
    color: white;
    margin: 0 auto;
    float: none;
    display: flex;
    width: 100%;
}
/* Card */

/* Navigation */
nav {
    background-color: white;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    width: 100%
}

.horizontal.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: left;
}

.horizontal.menu li {
    display: inline;
}

.horizontal.menu a {
    text-decoration: none;
    color: #22104b;
    /* Menu button color */
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 5px;
}

.horizontal.menu a:hover {
    background-color: #22104b;
    color: white;
    /* Change to a visible color on hover */
    /
}

.horizontal.menu a:hover i {
    background-color: #22104b;
    color: white;
    /* Change to a visible color on hover */
}

.horizontal.menu a span {
    margin-left: 5px;
}

.horizontal.menu a i {
    color: #22104b;
    /* Icon color */
}

ul.horizontal.menu li:first-child {
    background-color: white;
    color: white;
}

ul.horizontal.menu li:first-child:hover a {
    color: white;
    background-color: white;
}
/* Navigation */

/* Primary Button */
.button {
    background-color: white;
    border: none;
    color: #22104b;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    border-radius: 8px;
    width: 300px;
}

.button:hover {
    background-color: #22104b;
    color: white;
}

.button:active {
    background-color: white;
    color: #22104b;
}
/* Primary Button */

.text-center {
    width: 300px;
}

a {
    color: white;
}

/* Top Padding */
p {
    padding-top: 8px;
}
/* Top Padding */

/* Outline Button */
.hollow.button {
    border-color: white;
    background-color: transparent;
    color: white;
    width: 300px;
    font-size: 16px;
}

.hollow.button:hover {
    background-color: #362662;
    border-color: transparent;
    color: white;
}
/* Outline Button */

progress {
    width: 300px;
}

label {
    color: white;
    padding-top: 8px;
}