/* Author: Dhruv Mehta */

/* Body */
body {
    max-width: 100%;
    margin: 0 auto;
    color: white;
    background: linear-gradient(#293339, #0E1313);
    font-family: 'Roboto', sans-serif;
}

/* Page Wrapper */
.grid-container {
    /* display: flex; */
    justify-content: left;
    align-items: left;
    min-height: 100vh;
    padding: 0 20px;
}

.full-height {
    min-height: 100vh;
}

.text-center {
    text-align: left;
}

/* Card */
.card {
    background-color: #1F2628;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.card-section {
    padding: 20px;
}

/* Headings */
#top-heading {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

/* Fieldset and Labels */
fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

label {
    display: block;
    font-weight: 500;
    margin-bottom: 10px;
    color: white;
}

input[type="radio"] {
    margin-right: 10px;
}

/* Progress Bar */
progress.success {
    width: 100%;
    height: 20px;
    margin-bottom: 20px;
}

/* Button */
.button {
    background-color: white;
    color: #22104b;
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.button:hover {
    background-color: #1F2628;
    color: white;
}

.button:active {
    background-color: white;
    color: #22104b;
}

/* Navigation */
.horizontal.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.horizontal.menu li {
    margin-right: 10px;
}

.horizontal.menu a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.horizontal.menu a i {
    margin-right: 5px;
}