/* Author: Dhruv Mehta */
body {
    max-width: 100%;
    margin: 0 auto;
    color: white;
    background: rgb(87, 65, 136);
    /* background: linear-gradient(135deg, #7f6baa 0%, #463174 35%, #22104b 100%); */
}

/* Adding margin on the left side */
.page-wrapper {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 20px;
}
/* Adding margin on the left side */

/* Headings */
#top-heading {
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    padding-top: 12px;
}

h2 {
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    padding-top: 12px;
}

h3 {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}
/* Headings */

p {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

/* Card */
.card {
    border-radius: 8px;
    border-color: transparent;
    background-color: #22104b7d;
    color: white;
    margin: 0 auto;
    float: none;
    display: flex;
    width: 100%;
}
/* Card */

/* Navigation */
/* nav {
    background-color: white;
     padding: 10px; 
    border-bottom: 1px solid #ccc;
    width: 100% 
} */

#responsive-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: left;
}

#responsive-menu li {
    display: inline;
}

#responsive-menu a {
    text-decoration: none;
    color: #22104b;
    /* Menu button color */
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    /* border-radius: 5px; */
}

#responsive-menu a:hover {
    background-color: #22104b;
    color: white;
    /* Change to a visible color on hover */
    /
}

#responsive-menu a:hover i {
    background-color: #22104b;
    color: white;
    /* Change to a visible color on hover */
}

#responsive-menu a span {
    margin-left: 5px;
}

#responsive-menu a i {
    color: #22104b;
    /* Icon color */
}

#responsive-menu li:first-child {
    background-color: white;
    color: white;
}

#responsive-menu li:first-child:hover a {
    color: white;
    background-color: white;
}

#appointmentImage {
    object-fit: fill;
    width: fit-content;
    height: 200;
}
/* Navigation */

/* Primary Button */
.button {
    background-color: #ED1D24;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    border-radius: 8px;
}

.button:hover {
    background-color: #ED1D24;
    color: white;
}

.button:active {
    background-color: white;
    color: #22104b;
}
/* Primary Button */

a {
    color: white;
}

/* Top Padding */
p {
    padding-top: 8px;
}
/* Top Padding */

p1 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    opacity: 64%;
}

/* Edit Button */
.small.tertiary.button {
    background-color: white;
    color: #222222;
    font-size: 16px;
}
/* Edit Button */

/* Settings Option */
ul {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: white;
}
/* Settings Option */