/* stylesheet.css */

body {
    max-width: 100%;
    margin: 0 auto;
    color: white;
    background: linear-gradient(#293339, #0E1313);
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.page-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.full-height {
    min-height: 100vh;
}

#mainCell {
    padding: 2rem;
    background: rgba(255, 255, 255, 0);
    /* box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); */
    border-radius: 8px;
}

.logo {
    margin-bottom: 1rem;
    padding: 50px;
}

#top-heading {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

p {
    margin-bottom: 1rem;
}

a.hollow.button.expanded,
a.button.expanded {
    background-color: #293339;
    /* border: #EBEBEB; */
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    border-radius: 8px;
    border-color: #363D3F;
    border-width: 1px;
    box-shadow: 0px 2px 2px 0px #363D3F;
    font-weight: bold;
}

.text-center a {
    text-decoration: underline;
}

.text-center a:hover {
    text-decoration: none;
}