/* Author: Harminder Singh */

body {
    max-width: 100%;
    margin: 0 auto;
    color: white;
    background: linear-gradient(#293339, #0E1313);
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}


.page-wrapper {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 20px;
}

#statsRow {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: row;
    margin: 0 20px;
    flex-wrap: nowrap;
}

.card {
    border-radius: 8px;
    border-color: #1F2628;
    background-color: #1F2628;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* border: 1px solid #ccc; */
    color: white;
    margin: 0 auto;
    float: none;
    display: flex;
    width: 100%;
    text-align: left;
    padding: 5px 5px;
}

/* .card-section {
    padding: 20px;
} */

/* nav {
    background-color: white;
     padding: 10px; 
    border-bottom: 1px solid #ccc;
    width: 100% 
} */

#responsive-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: left;
}

/* #responsive-menu li {
    display: inline;
} */

#responsive-menu a {
    text-decoration: none;
    color: white; 
    background-color: #1F2628;
    /* Menu button color */
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    /* border-radius: 5px; */
}

#responsive-menu a:hover {
    background-color: #1F2628;
    color: white;
    /* Change to a visible color on hover */
}

#responsive-menu a:hover i {
    background-color: #1F2628;
    color: white;
    /* Change to a visible color on hover */
}

#responsive-menu a span {
    margin-left: 5px;
}

#responsive-menu a i {
    color: white;
    /* Icon color */
}

#appointmentImage {
    object-fit: fill;
    width: fit-content;
    height: 200;
}

.button {
    background-color: white;
    border: none;
    color: #1F2628;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
    font-weight: bold;
}

.button:hover {
    background-color: #26C485;
    color: white;
}

.button:active {
    background-color: white;
    color: #1F2628;
}

/* Roboto FONT CSS */
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}